html{
	background: #e1efe1;
}
body {
	margin: 0;
	padding: 0;
	width: 960px;
	margin: 0 auto;
	line-height: 1.5em;
	font-family: "Î¢ÈíÑÅºÚ", "ºÚÌå", "ËÎÌå";
	font-size: 14px;
	background: #CCFFCC;
	color: #6666CC;
}

p {
	margin: 0px;
	padding: 0px;
}

table {
	border-collapse: collapse;
	border: none;
	width: 100%;
}

td {
	border: solid #f4f4f4 2px;
	text-align: center;
	/*	width: 100%;*/
}

td input {
	width: 90%;
	background: #CCFFCC;
}

a {
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
}

a:hover{
	color: blue;
}
h1{
	padding-left: 10px;
}

hr{
	color: black;
	height: 1px;
}

/* submit input */
#submit_input {
	width: auto;
}

/* end of submit input */
/* top */
#top {
	width:960px;
	height: 80px;
	background: #99CCCC;
}

/* end of top */
/* logo */
#logo {
	width: 60px;
	height: 60px;
	padding: 10px;
	float: left;
}

#logoTips {
	color: #FFFFCC;
	display: inline;
	font-weight: bold;
	float: left;
	margin-top: 40px;
}

/* end of logo */
/* login info */
#loginInfo {
	display: inline;
	float: right;
	margin-right: 10px;
	margin-top: 45px;
}

/* end of login info */
/* menu */
#page_menu {
	clear: both;
	width: 960px;
	height: 45px;
	background: #444444;
}

#page_menu ul {
	padding: 13px 0 0 0;
	margin: 0;
	list-style: none;
}

#page_menu ul li {
	display: inline;
}

#page_menu ul li a {
	float: left;
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
}

#page_menu li a:hover,#page_menu li .current {
	color: yellow;
}

/* end of menu*/
/* scrollTips */
#scrollTips {
	background: #99CCFF;
	color: yellow; width : 960px;
	font-weight:bold;
	height: 20px;
	behavior: alternate;
	scrollamount: 3;
	direction: left;
	loop: -1;
	width: 960px;
}

/* end of scrollTips */
/* page_content */
#page_content {
	background: #CCFFCC;
	padding: 10px;
	margin: 0px 0px;
	min-height: 500px;
}

/* end of page content */
/* footer */
#page_foot {
	clear: both;
	width: 960px;
	padding: 20px 0px 20px 0;
	text-align: center;
	border-top: 1px solid #25211e;
	background-color: #99CCCC;
}

#page_foot a {
	color: #000;
	font-weight: normal;
}

#page_foot p {
	font-weight: bold;
	color: #0;
}
/* end of footer */