html {
	background: #e1efe1;
}

body {
	margin: 0;
	padding: 0;
	width: 960px;
	margin: 0 auto;
	line-height: 1.5em;
	font-family: "Î¢ÈíÑÅºÚ", "ºÚÌå", "ËÎÌå";
	font-size: 14px;
	background: #CCFFCC;
	color: #000000;
}

p {
	margin: 0px;
	padding: 0px;
}

td {
	border: solid #000000 1px;
	text-align: center;
	/*	width: 100%;*/
}

td input {
	width: 95%;
	background: #CCCCCC;
	border-radius: 3px;
}


a {
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: blue;
}

h1 {
	padding-left: 10px;
}

hr {
	color: black;
	height: 1px;
}

/* top */
#top {
	width: 960px;
	height: 80px;
	background: #99CCFF;
}

/* end of top */
/* logo */
#logo {
	width: 60px;
	height: 60px;
	padding: 10px;
	float: left;
}

#logoTips {
	color: #003300;
	display: inline;
	font-weight: bold;
	float: left;
	margin-top: 40px;
}

/* end of logo */

/* menu */
#page_menu {
	clear: both;
	width: 960px;
	height: 45px;
	background: #444444;
}

#page_menu ul {
	padding: 13px 0 0 0;
	margin: 0;
	list-style: none;
}

#page_menu ul li {
	display: inline;
}

#page_menu ul li a {
	float: left;
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
}

#page_menu li a:hover,#page_menu li .current {
	color: #FF9900;
}

/* end of menu*/

/* page_content */
#page_content {
	background: #99CCFF;
	padding: 10px;
	margin: 0px 0px;
	min-height: 500px;
}

#page_content table td {
	padding: 5px;
}

/* end of page content */
/* footer */
#page_foot {
	clear: both;
	width: 960px;
	padding: 20px 0px 20px 0;
	text-align: center;
	border-top: 1px solid #25211e;
	background-color: #444444;
}

#page_foot a {
	color: #fff;
	font-weight: normal;
}

#page_foot a:hover{
	color: #FF9900;
	font-weight: normal;
}

#page_foot .current {
	color: #FF9900;
}

#page_foot p {
	font-weight: bold;
	color: #0;
}

/* end of footer */

/* scrollTips */
#scrollTips {
	background: #99CCCC;
	color: #000000;
	width: 960px;
	font-weight: bold;
	height: 20px;
	behavior: alternate;
	scrollamount: 3;
	direction: left;
	loop: -1;
	width: 960px;
}

/* end of scrollTips */

/* login info */
#loginInfo {
	display: inline;
	float: right;
	margin-right: 10px;
	margin-top: 45px;
	color: #000000;
}

/* end of login info */

/* submit input */
#submit_input {
	width: auto;
	border-radius: 3px;
	background: #6666CC;
	color: white;
}

/* end of submit input */

/* functionManage_topAndLeft */
#left_menu_main {
	color: #004400;
	font-weight: bold;
}

#vip_function_tips {
	color: #004400;
	font-weight: bold;
}

/* end of functionManage_topAndLeft */


/* loginAndRegister */
#loginAndRegister{
	background: #eeeeee;
	border-collapse: collapse;
	border: none;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}
/* end of loginAndRegister */

/* s_table */
#s_table {
	background: #eeeeee;
	border-collapse: collapse;
	border: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#s_table table{
	background: #eeeeee;
	border-collapse: collapse;
	border: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}
/* end of s_table */